<style>
.container {
  margin: 20px auto;
  max-width: 600px;
}

.input-group {
  margin-bottom: 10px;
}

#username {
  margin-left: 10px;
}

#generate {
  margin-left: 10px;
}

#emails {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#counter {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.9rem;
}

#copy {
 margin-left: 10px;
}
input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
	
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #3e8e41;
}
</style>