.share-btns {
    display: flex;
    flex-wrap: wrap;
}

.share-btns a {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.share-btns a:not(:last-child) {
    margin-right: 5px;
}

.share-btns a.facebook {
    background: url("../img/share-btns.png") no-repeat left top;
}

.share-btns a.vkontakte {
    background: url("../img/share-btns.png") no-repeat -168px top;
}

.share-btns a.ok {
    background: url("../img/share-btns.png") no-repeat -126px top;
}

.share-btns a.twitter {
    background: url("../img/share-btns.png") no-repeat -42px top;
}

.share-btns a.pinterest {
    background: url("../img/share-btns.png") no-repeat -210px top;
}

.share-btns a.mail {
    background: url("../img/share-btns.png") no-repeat -294px top;
}

.share-btns a.telegram {
    background: url("../img/share-btns.png") no-repeat -672px top;
}