.spoiler {
    display: block;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 4px;
    background: #558ed6;
    color: #fff;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
}

.spoiler input[type=checkbox] {
    display: none;
}

.text {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 12px 0 20px;
}

.spoiler input[type=checkbox] ~ .text {
    display: none;
}

.spoiler input[type=checkbox]:checked ~ .text {
    display: block;
}